<header class="mb-5">
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" style="border-bottom: 2px red solid;">
    <a class="navbar-brand" href="/">Prami 2020-1</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a href="/estudiante/cerrarLogin" role="button" class="btn btn-danger btn-primary btn-sm align-middle"><i class="material-icons align-middle">account_circle</i> Cerrar sesión</a>
        </li>
        
      </ul>

    </div>
  </nav>
</header>