{{>navegacionDirector}}


  <style>
    .card {
      border-radius: 10px;
      width: 300px;
      height: 112px;
      overflow: auto;
    }

    .locales {
      display: flex;
      flex-wrap: wrap;

    }
  </style>


  <div class="container pt-4">
    <h1>Inicio
    </h1>
    <div class="locales mb-5 pb-5">


      <a href="/director/grupos">
        <div class="card m-1 text-body">
          <div class="card-body">
            <div class="card-text">
              <h4 class="text-center">Grupos</h4>
            </div>
          </div>
        </div>
      </a>

      <a href="/director/reportes">
        <div class="card m-1 text-body">
          <div class="card-body">
            <div class="card-text">
              <h4 class="text-center">Reportes</h4>
            </div>
          </div>
        </div>
      </a>

      <a href="/director/coordinadores">
        <div class="card m-1 text-body">
          <div class="card-body ">
            <div class="card-text">
              <h4 class="text-center">Coordinadores</h4>
            </div>
          </div>
        </div>
      </a>

    </div>
 </div>