
{{>navegacionIndex}}

<div class="container  pt-4 mt-4">
  <div class="card mt-4">
      <div class="card-body">
          <div class="card-title font-weight-bold">
              <h3>Hola Director</h3>
          </div>
          <div class="card-text">

              <form method="POST" action="/director/login" class="mt-4">
                  <div class="form-group">
                      <label for="codigo">Código UFPS</label>
                      <input class="form-control" type="number" placeholder="" name="codigo" id="codigo">
                  </div>
                  <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input type="password" class="form-control" id="password" name="password">
                      <a href="/director/recuperarClave" class="text-danger"><small class="mt-4">¿Olvidaste la contraseña?</small></a>
                  </div>
                  <button type="submit" class="btn btn-secondary">Ingresar</button>
                  
              </form>
              

          </div>
      </div>
  </div>
</div>

   





